<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Post Detail</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <style>
      .post-title {
        font-size: 24px;
        font-weight: bold;
      }
      .post-content {
        margin-top: 20px;
      }
      .post-info {
        margin-top: 10px;
        font-size: 14px;
        color: gray;
      }
      .btn-container {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
      }
    </style>
    <script>
      function confirmDeletion(event, formId) {
        event.preventDefault();
        if (confirm("Are you sure you want to delete this post?")) {
          document.getElementById(formId).submit(); // 삭제 확인하기
        }
      }
    </script>
  </head>
  <body>
    <div class="p-3 mb-5 text-center bg-light">
      <h5 class="">Post</h5>
    </div>

    <div class="container mt-5">
      <div class="post-detail">
        <div class="post-title" th:text="${post.title}">Post Title</div>
        <div class="post-info">
          <span th:text="'Writer: ' + ${post.writer}"></span> |
          <span
            th:text="'Date: ' + ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}"
          ></span>
          <span
            th:if="${post.updatedAt != post.createdAt}"
            th:text="'| Updated Date: ' + ${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"
          ></span>
        </div>
        <div class="post-content" th:text="${post.content}">Post Content</div>
      </div>
      <div class="btn-container">
        <a href="/blog" class="btn btn-secondary btn-sm">Main</a>
        <div>
          <a th:if="${post.writer == currentUser.nickname}"
             th:href="@{/blog/edit/{id}(id=${post.id})}"
            class="btn btn-outline-secondary btn-sm mr-1"
          >
            Update
          </a>
          <form
            id="deleteForm"
            th:if="${post.writer == currentUser.nickname}"
            th:action="@{/blog/delete/{id}(id=${post.id})}"
            method="post"
            style="display: inline"
          >
            <button
              type="submit"
              class="btn btn-secondary btn-sm"
              onclick="confirmDeletion(event, 'deleteForm')"
            >
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
